/* --- 01 TYPOGRAPHY SYSTEM

- Font Family: 
Red Hat Display

- Font sizes (px):
15 / 16 / 22 / 28

- Font weights:
Medium: 500
Bold: 700
Black: 900

- Line heights:
Preset 1 & 2: 135%
Preset 3 & 4: 165%

- Letter spacing:
0px

--- 02 COLORS

- Primary: 
Purple 500: #766CF1

- Blue Palette: 
Blue 950: #1F2E55
Blue 700: #382AE1
Blue 150: #D6E1FF
Blue 100: #E0E8FF
Blue 50: #F7F9FF

- Neutrals: 
White: #FFFFFF
Black: #000000
Gray 600: #717FA6

--- 03 WHITESPACE

- Spacing system (px):
0 / 8 / 16 / 24 / 32 / 48

--- 04 SHADOWS & BORDER-RADIUS
(Not specified in the design files provided)
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #e0e8ff url(img/pattern-background-desktop.svg);
  background-position: top;
  background-repeat: repeat-x;
  min-height: 100vh;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Red Hat Display", sans-serif;
}

.order-card {
  background-color: #fff;
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 40px 40px -20px rgba(13, 48, 189, 0.15);
}

.order-card__img-box img {
  width: 100%;
}

.order-card__details {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 4.8rem 4.8rem 4.3rem 4.8rem;
}

.order-card__plan {
  display: flex;
  align-items: center;
  padding: 2.4rem;
  gap: 1.6rem;
  margin-bottom: 1.6rem;
}

.order-card__plan-info {
  display: flex;
  flex-direction: column;
}

.order-card__link--change {
  margin-left: auto;
}

.order-card__btn--payment {
  margin-bottom: 1.6rem;
}

.order-card__heading {
  font-size: 2.8rem;
  line-height: 1.35;
  color: #1f2e55;
  font-weight: 900;
}

.order-card__description {
  font-size: 1.6rem;
  line-height: 1.65;
  color: #717fa6;
}

.order-card__plan {
  background-color: #f7f9ff;
  border-radius: 11px;
  font-size: 1.6rem;
  line-height: 1.65;
  font-weight: 500;
  width: 100%;
}

.order-card__plan-icon {
  width: 48px;
  height: 48px;
}

.order-card__plan-title {
  color: #1f2e55;
  font-weight: 900;
}

.order-card__plan-price {
  color: #717fa6;
  font-weight: 500;
}

.order-card__link {
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 1.65;
}

.order-card__link--change {
  color: #382ae1;
  font-weight: 700;
}

.order-card__link--cancel {
  color: #717fa6;
  font-weight: 900;
}

.order-card__btn {
  background: none;
  border: none;
  font-size: 1.6rem;
  line-height: 1.65;
  font-weight: 900;
  padding: 1.2rem 0;
  border-radius: 11px;
  cursor: pointer;
}

.order-card__btn--payment {
  background-color: #382ae1;
  color: #fff;
  box-shadow: 0 20px 20px 0 rgba(57, 42, 225, 0.19);
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
